.navbar {
  z-index: 20;
}

.container {
  border-style: solid;
	border-color:rgb(75, 188, 226);
}

/* .container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
} */


ul {
  list-style-type: none;
  padding-left: 0;
}

.msg-list {
  height: calc(83vh - 48px);
  background: rgb(209, 244, 255); 
  overflow-y: scroll;
  word-wrap: break-word;
}

.msg-list::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0.1);
}
.msg-list::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
}

.msg-list > li {
  padding: 0.5rem 0.2rem;
  border-bottom: 1px solid rgb(10,10,10);
}

.room-overlay {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../background/wallpaper.jpg");
  padding: 0 200px;
  padding-top: 60px;
}

.chatroom-container {
	max-width: 500px;
	margin: 80px auto;
}

.chatroom-header {
	text-align: center;
	padding: 20px;
	background: rgb(75, 188, 226);
}

.chatroom-main {
	padding: 30px 40px;
	background: rgb(209, 244, 255); 
  border-style: solid;
	border-color:rgb(75, 188, 226);
}

.chatroomBtn {
	margin-top: 20px;
	width: 75%;
  color: black;
}
.chatroomBtnDelete {
	margin-top: 20px;
	width: 20%;
}

html, body{
  background: rgb(209, 244, 255); 
  height: 100%;
}

.side{
  background-color: rgb(139, 192, 223);
}

.btnFeature{
  background-color: white;
}

.border {
  border-style: solid;
	border-color:rgb(75, 188, 226);
}

/* .fill-height {
  min-height: 100%;
  height: 100%;
} */

.btn-color {
  background-color: rgb(75, 188, 226);
}

.padding {
  padding-top: 10px
}