body{
	background-image: url("../background/wallpaper.jpg");
}

.home-container {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 10vh;
	border-style: solid;
	border-color:rgb(75, 188, 226);
}

.home-header {
	text-align: center;
	padding: 20px;
	background: rgb(75, 188, 226);
}

.home-main {
	padding: 30px 40px;
	background: rgb(209, 244, 255); 
}

.home-main .btn {
	margin-top: 20px;
	width: 100%;
}

.home-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}