body{
	background-image: url(../background/wallpaper.jpg);
}

html {
    scroll-behavior: smooth;
}


.home-container {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 10vh;
	border-style: solid;
	border-color:rgb(75, 188, 226);
}

.home-header {
	text-align: center;
	padding: 20px;
	background: rgb(75, 188, 226);
}

.home-main {
	padding: 30px 40px;
	background: rgb(209, 244, 255); 
}

.home-main .btn {
	margin-top: 20px;
	width: 100%;
}

.home-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

img {
	margin: auto;
	text-align: center;
}

#second {
    width: 100%;
    height: 1000px;
    background: rgb(195, 240, 253); 
}

span {
    color: red;
}

#noerror1 {
    color: green;
}

.pw {
    width: 100%;
}

.avatar {
	cursor: pointer;
}

.chosen {
	transform: scale(1.1);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.2rem;
}