body{
	background-image: url(../background/wallpaper.jpg);
}

html {
    scroll-behavior: smooth;
}


.home-container {
	max-width: 500px;
	margin: 80px auto;
	border-style: solid;
	border-color:rgb(0, 195, 255);
}

.home-header {
	text-align: center;
	padding: 20px;
	background: rgb(75, 188, 226);
}

.home-main {
	padding: 30px 40px;
	background: rgb(209, 244, 255); 
}

.home-main .btn {
	margin-top: 20px;
	width: 100%;
}

.home-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.image{
	width: 100%;
	height: 200px;
}

#second {
    width: 100%;
    height: 1000px;
    background: rgb(195, 240, 253); 
}

span {
    color: red;
}

#noerror1 {
    color: green;
}

.pw {
    width: 100%;
}